<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DIGITAL LIBRARY</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  @!section('styles')
  <!-- Custom styles for this template -->
  <link href="/css/clean-blog.min.css" rel="stylesheet">

</head>

<body onload="dark_mode()">




  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">DIGITAL LIBRARY</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          @if(company.role == "company")
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">New Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company/posts">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/authorProfile">My Profile</a>
          </li>
          @endif
          @if(user.role == "user")
          <li class="nav-item">
            <a class="nav-link" href="/auth/userProfile">{{user.username}}</a>
          </li>

          <li class="nav-item">
            <a onclick="dark()" id="mode">dark mode</a>
          </li>
          @endif
          @if(!auth)
          <li class="nav-item">
            <a class="nav-link" href="/auth/Userlogin">Reader</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/Companylogin">Author</a>
          </li>
          @else
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          @endif
        </ul>
      </div>
    </div>
  </nav>
  @!section('content')

  <!-- Footer -->
  <div class="row justify-content-center darkmode-ignore">
    <div class="col-4">
      <div id="container" class="card example-1 square scrollbar">
        @if(user.role=="user")
        <div class="chat-container ">
          <img src="{{user.image}}" alt="" height="50px" width="50px">

          <p class="voice2text"></p>
        </div>
        @elseif(company.role == "company")
        <img src="{{company.image}}" alt="" height="300px" width="300px">
        <div class="chat-container ">
          <p class="voice2text"> </p>
        </div>
        @else
        <img src="" alt="" height="300px" width="300px">
        <div class="chat-container ">
          <p class="voice2text"> </p>
        </div>
        @endif
        <div class="chat-container darker ">
          <p class="voice2text">talk with me to give the feedback about the website.</p>
        </div>

      </div>
      <a class="voice" href="#"> <button class="btn btn-outline-danger float-right">Let's talk
        </button></a>
    </div>
  </div>
  <style>
    .example-1 {
      position: relative;
      overflow-y: scroll;
      height: 200px;
      border: 2px solid #dedede;
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      margin: 5px auto;
      width: 60%
    }

    .chat-container,
    .card {
      border: 2px solid #dedede;
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      margin: 5px auto;
      width: 60%
    }

    .chat-container p {
      background-color: white;
      margin-left: 0;
      font-family: Helvetica;
    }

    /* Darker chat container */
    .darker {
      border-color: #ccc;
      margin-right: 0;
      background-color: white;
    }

    .darker p {
      background-color: white;
    }

    /* Clear floats */
    .chat-container::after {
      content: "";
      clear: both;
      display: table;
    }

    /* Style images */
    .card img {
      float: left;
      max-width: 60px;
      max-height: 60px;
      width: 100%;
      margin-right: 20px;
      margin-top: 20px;
      border-radius: 50%;
    }

    .chat-container img.right {
      float: right;
      margin-left: 20px;
      margin-right: 0;
    }

    /* Style time text */
    .time-right {
      float: right;
      color: #aaa;
    }

    /* Style time text */
    .time-left {
      float: left;
      color: #999;
    }
  </style>
  <script>
    const voice = document.querySelector(".voice");
    const voice2text = document.querySelector(".voice2text");

    const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    const recorder = new SpeechRecognition();

    function addHumanText(text) {
      const chatContainer = document.createElement("div");
      chatContainer.classList.add("chat-container");
      const chatBox = document.createElement("p");
      chatBox.classList.add("voice2text");
      const chatText = document.createTextNode(text);
      chatBox.appendChild(chatText);
      chatContainer.appendChild(chatBox);
      return chatContainer;
    }

    function addBotText(text) {
      const chatContainer1 = document.createElement("div");
      chatContainer1.classList.add("chat-container");
      chatContainer1.classList.add("darker");
      const chatBox1 = document.createElement("p");
      chatBox1.classList.add("voice2text");
      const chatText1 = document.createTextNode(text);
      chatBox1.appendChild(chatText1);
      chatContainer1.appendChild(chatBox1);
      return chatContainer1;
    }

    function botVoice(message) {
      const speech = new SpeechSynthesisUtterance();
      speech.text = "Sorry, I didn't get it.";
      if (message.includes('hi')) {
        speech.text = "hello {{user.username}}";
      }

      if (message.includes('say hi to my friends')) {
        speech.text = "hii guys,  good evening..!!";
      }
      if (message.includes('hi ')) {
        speech.text = " Hey there! How was your experience with the website? Please rate between 1 and 5 ";
      }
      if (message.includes('It was good I would rate  as 4')) {
        speech.text = "Nice to hear that, what all changes would you like to suggest?";
      }
      if (message.includes('it was good I would rate  as 3')) {
        speech.text = "Nice to hear that, what all changes would you like to suggest?";
      } if (message.includes('I would rate as to')) {
        speech.text = "Sorry to hear that, what all problems did you face?";
      } if (message.includes('I would rate as one')) {
        speech.text = "We're extremely sorry to hear that, what all problems did you face?";
      } if (message.includes('It was good, I would rate  as 5')) {
        speech.text = "Nice to hear that, what all changes would you like to suggest?";
      }
      if (message.includes('I would like the feature of blue light filter.')) {
        speech.text = "Of course. We are currently working on that. You can expect that feature in the latest updates.";
      }

      if (message.includes('Thank You')) {
        speech.text = "Thank you so much for your feedback,have a nice day.";
      }

      speech.volume = 1;
      speech.rate = 1;
      speech.pitch = 1;
      window.speechSynthesis.speak(speech);
      var element = document.getElementById("container");
      element.appendChild(addBotText(speech.text));
    }

    recorder.onstart = () => {
      console.log('Voice activated');
    };

    recorder.onresult = (event) => {
      console.log("event");
      const resultIndex = event.resultIndex;
      const transcript = event.results[resultIndex][0].transcript;
      var element = document.getElementById("container");
      element.appendChild(addHumanText(transcript));
      botVoice(transcript);
    };

    voice.addEventListener('click', () => {
      recorder.start();
    });
  </script>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto darkmode-ignore">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  @!section('scripts')

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>
  <style>
    .dark-mode {
      background-color: #1c1c1e;
      color: #fefefe;
    }

    .dark-mode a {
      color: #ffffff;
    }

    .darkmode-ignore a {
      color: black;
    }

    .dark-mode img {
      filter: grayscale(20%)
    }
  </style>
  <script>
    function dark_mode() {
      if (localStorage.getItem("dark") == "true") {
        var element = document.body;
        element.classList.add("dark-mode");
        window.matchMedia("(prefers-color-scheme:dark)")
        document.getElementById("mode").innerHTML = "light mode";
        document.getElementById("mode").setAttribute("onClick", "javascript: light();");
      }
      else if (localStorage.getItem("dark") == "false") {
        var element = document.body;
        element.classList.remove("dark-mode");

        window.matchMedia("(prefers-color-scheme:light)")
        document.getElementById("mode").innerHTML = "dark mode";
        document.getElementById("mode").setAttribute("onClick", "javascript: dark();");;
      }
    }
    function dark() {
      localStorage.setItem("dark", "true");
      location.reload();
    }
    function light() {
      localStorage.setItem("dark", "false");
      location.reload();
    }
  </script>

</body>

</html>